#-----------#
#  General  #
#-----------#

[user]
    name  = Michael Hogg
    email = *************************

[core]
    editor       = edit --wait --resume
    excludesfile = /Users/michaelhogg/.gitignore

[alias]
    st     = status
    lg     = log --format=hoggshort
    lgt    = log --format=hoggshort --max-count=10
    lgl    = log --format=hogglong
    fe     = fetch
    br     = branch -vv
    ch     = checkout
    po     = push origin
    puo    = push --set-upstream origin
    diffs  = diff --staged
    diffi  = diff --ignore-all-space
    diffis = diff --ignore-all-space --staged
    twd    = difftool -t twdiff
    twdi   = difftool -t twdiffi
    twds   = difftool -t twdiff  --staged
    twdis  = difftool -t twdiffi --staged
    dfu    = difftool -t diffuse
    dfui   = difftool -t diffusei
    dfus   = difftool -t diffuse  --staged
    dfuis  = difftool -t diffusei --staged

[color]
    branch = auto
    ui     = auto

[color "branch"]
    upstream = cyan

[pretty]
    hoggshort = %C(red)%aD  %C(cyan)%an  %C(yellow)%H %C(magenta)%d %C(green)%s
    hogglong  = %C(red)%aD  %C(cyan)%an  %C(yellow)%H %C(magenta)%d %C(green)%B



#------------------#
#  Diff and merge  #
#------------------#

[diff]
    tool = twdiff

[merge]
    tool          = diffuse
    conflictstyle = diff3

[difftool]
    prompt = false


#--- TextWrangler ---#

[difftool "twdiff"]
    cmd = twdiff --resume --reverse --wait \"$LOCAL\" \"$REMOTE\"

[difftool "twdiffi"]
    cmd = twdiff --resume --reverse --wait --ignore-spaces \"$LOCAL\" \"$REMOTE\"


#--- Diffuse ---#

[difftool "diffuse"]
    cmd = diffuse \"$LOCAL\" \"$REMOTE\"

[difftool "diffusei"]
    cmd = diffuse --ignore-all-space \"$LOCAL\" \"$REMOTE\"
