<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>

	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	
	<key>BBLMLanguageDisplayName</key>
	<string>Dokuwiki</string>
	<key>BBLMLanguageCode</key>
	<string>doku</string>
	
	<key>BBLMColorsSyntax</key>
	<true/>
	
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>======</string>
		<string>=====</string>
		<string>====</string>
		<string>===</string>
	</array>
	
	<key>BBLMKeywordList</key>
	<array>
		<string>^</string>
		<string>^^</string>
		<string>^^^</string>
		<string>|</string>
		<string>||</string>
		<string>|||</string>
		<string>:::</string>
		<string>\\</string>
		<string>--</string>
		<string>---</string>
		<string>----</string>
	</array>
	
	<!-- Specify a comment-out string: -->
	<key>BBLMCommentLineDefault</key>
	<string>$$$$$</string>
	
	<!-- You must specify the character set for
             keywords and identifiers. Substitute your own:  -->
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Characters</key>
		<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789_-*=[]{}'"|/^:\</string>
		<key>String Pattern</key>
		<string>(('').+?(''))|((\*\*).+?(\*\*))|((//).+?(//))|((\[\[).+?(\]\]))</string>
	</dict>
	
</dict>
</plist>
