<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>

	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	
	<key>BBLMLanguageDisplayName</key>
	<string>Dokuwiki</string>
	<key>BBLMLanguageCode</key>
	<string>doku</string>
	
	<key>BBLMColorsSyntax</key>
	<true/>
	
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>======</string><!-- Headline Level 1 -->
		<string>=====</string> <!-- Headline Level 2 -->
		<string>====</string>  <!-- Headline Level 3 -->
		<string>===</string>   <!-- Headline Level 4 -->
	</array>
	
	<key>BBLMKeywordList</key>
	<array>
		<string>^</string>   <!-- Table header cell             -->
		<string>^^</string>  <!-- Table header cell (2 colspan) -->
		<string>^^^</string> <!-- Table header cell (3 colspan) -->
		<string>|</string>   <!-- Table normal cell             -->
		<string>||</string>  <!-- Table normal cell (2 colspan) -->
		<string>|||</string> <!-- Table normal cell (3 colspan) -->
		<string>:::</string> <!-- Table rowspan cell            -->
		<string>\\</string>  <!-- Force newline                 -->
		<string>--</string>  <!-- N dash                        -->
		<string>---</string> <!-- M dash                        -->
		<string>----</string><!-- Horizontal rule               -->
	</array>
	
	<key>BBLMCommentLineDefault</key>
	<string>></string>
	
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Characters</key>
		<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789_-*=[]{}'"|/^:\</string>
		<key>String Pattern</key>
		<!-- '' is monospace -->
		<!-- ** is bold -->
		<!-- // is italid -->
		<!-- [[ ]] is a link -->
		<!-- {{ }} is an image -->
		<!-- "  *" is an unordered list -->
		<!-- "  -" is an ordered list -->
		<string>(('').+?(''))|((\*\*).+?(\*\*))|((//).+?(//))|((\[\[).+?(\]\]))|(({{).+?(}}))|(^  \*)|(^  -)</string>
	</dict>
	
</dict>
</plist>
